.articleAndDate {
  font-weight: 600;
}

.shortDescription {
  text-align: justify;
  font-size: 18px;
}

.details {
  text-align: justify;
  font-size: 15px;
  max-width: 90%;
}

@media screen and (max-width: 811px) {
  .details {
    max-width: 100%;
  }
}