.articleAndDate {
  font-weight: 600;
}

.shortDescription {
  font-size: 17px;
}

.details {
  font-size: 16px;
  max-width: 800px;
}

@media screen and (max-width: 811px) {
  .details {
    max-width: 100%;
  }
}
