.fontStyleTitle {
  font-family: "Libre Baskerville", serif;
  font-weight: 700 !important;
}

.calorieWidth {
  width: 50% !important;
  margin: none;
}

.calorieFontSize {
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .calorieWidth {
    width: 100% !important;
  }
}

@media screen and (max-width: 640px) {
  .calorieFontSize {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 767px) {
  .inputCalorieSectionWidth {
    width: 100% !important;
  }
}
