.fontStyleTitle {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700 !important;
  font-size: 120px;
  /* color: #acacac80; */
  color: #212529;
  line-height: 7rem;
  text-shadow: 5px 5px #e0dfdf80 !important;
  margin-top: 2rem;
}

.line {
  border-bottom: 10px solid #212124;
  display: block;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .inputCalorieSectionWidth {
    width: 100% !important;
  }

  .fontStyleTitle {
    font-size: 90px;
    line-height: 6rem;
  }

  .line {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .fontStyleTitle {
    font-size: 60px;
    line-height: 4rem;
  }

  .line {
    display: none;
  }
}
