/* NUTRITION-FRONTPAGE */

.topTitle {
  padding: 50px 80px 50px 80px !important;
  background: linear-gradient(to bottom left, #008b79, #1180a1);
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 85px;
  margin-bottom: 2rem;
}

.subTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .subTitle {
    font-size: 20px;
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .topTitle {
    padding: 20px !important;
  }

  .title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 70px;
    margin-bottom: 1rem;
  }

  .subTitle {
    font-size: 20px;
    width: 100% !important;
  }
}

/* NUTRITION-ARTICLE-LINKS */
/* Responsiveness */

@media screen and (max-width: 991px) {
  .unorderedlist {
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 1.5rem !important;
    width: 100%;
  }

  .imageContainer {
    position: static;
    justify-content: center;
    margin: 10px 20px;
  }
}
/* Image styles */

.imageContainer {
  position: relative;
  margin: auto;
  width: 130px;
}

.overlay {
  position: absolute;
  top: 29%;
  left: 11.1%;
  height: 68%;
  width: 77.5%;
  opacity: 0;
  transition: 0.5s ease-out;
  border-radius: 50%;
  background-color: red;
}

.imageContainer:hover .overlay {
  background-color: red;
  opacity: 0.6;
}

@media screen and (max-width: 991px) {
  .overlay {
    top: 28.5%;
    width: 77.5%;
    left: 11.5%;
    height: 67.5%;
  }
}

/* List Container */

.listContainer {
  background-color: rgb(164, 69, 69);
  position: absolute;
  top: 100%;
  left: 8%;
  border-radius: 5px;
  font-family: "Barlow Condensed", sans-serif;
  z-index: 2;
}

.listContainer a:hover .listText {
  transition: 0.2s ease-in;
  color: rgb(63, 11, 11) !important;
}

.muscleTitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  max-width: 75%;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(193, 191, 191);
}
