.container {
  background-color: #36454f;
}

.emailContainer {
  width: 40%;
}

@media screen and (max-width: 1175px) {
}

@media screen and (max-width: 950px) {
  .comment {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .emailContainer {
    margin-right: 1rem !important;
    width: 100%;
  }
}
